<div class="glass-container-popup">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button class="btn-submit" type="submit">Login</button>
      <button mat-raised-button class="btn-cancel" mat-dialog-close>
        Cancel
      </button>
    </div>
  </form>
</div>
